html { margin:0; padding:0; }
* { font-family: Verdana, Helvetica, sans-serif; }
body { color: #fff; background-color: #4c473a; padding: 0;margin: 0; 
background-attachment: scroll;
background-image: url(/qtvbg01.png);
background-position: left top;
background-repeat: no-repeat;
}
a { color: #fff; text-decoration: none; }
a.qtvfile { font-weight: bold; }
a:visited { color: #e1cd9b; }
a:hover { text-decoration: none; }
li.spectator { color: #666; font-size: 0.9ex; }
h1 { margin-left: 210px; padding: 1.0em 0; }
h2 { text-align: center; padding: 0em; }

#navigation {
  margin: 0 0 0 210px; display: block;
}
#navigation div { display:inline; 
  background-color: #585242; border: 1px solid #7d6f43; border-top: 0;
  vertical-align: top;
}
#navigation p { 
  
  display: inline; color: #7d6f43; text-indent: 0; margin:0; padding:0;
  vertical-align: sup;
}
#navigation a { text-decoration: none; color: #e8cf9e; font-size: 1.2em; padding: 0 1.5em;
 font-weight: lighter;}
#navigation a:hover { text-decoration: underline; }

#nowplaying { 
table-layout: auto;
border-top: 4px solid #e9cf9c;
border-bottom: 4px solid #e9cf9c;
border-left:0; border-right:0;
border-spacing: -2px;
background-color: #9a8e6c;
width: 100%; 
margin:0;
padding:0;
}

#nowplaying td {
  border-collapse: collapse;
  border-top: 0;
  border-bottom:0;
  border-spacing: 0;
  margin:0;
  padding:0.66em;
  text-align: center;
}
#nowplaying tr.odd { background-color: #8a8166; }
#nowplaying tr { margin:0; padding:0; }
#nowplaying tr:hover { background-color: #616265; }
#nowplaying td.wn { width: 200px; }
#nowplaying td.wn span a, #nowplaying td.wn span a:visited {
  background-color: #9c9ea1; border: 1px solid #616265; padding: 0.3em 2em;
  text-transform: uppercase; font-size: 0.8em; font-weight: bold; color: #fff;
}
#nowplaying td.wn span a:hover {
  background-color: #fff; color: #000;
}
#nowplaying td.adr { border-left: 1px solid #ab9d74; font-weight: 900; font-size: 1.1em; }
#nowplaying td.mn  { border-left: 1px solid #ab9d74; font-weight: 300; font-size: 1.1em;
  letter-spacing: -0.1em;
}
#nowplaying td.mn span { font-style: italic; }

#nowplaying tr.notempty, #nowplaying tr.notempty td { background-color: #4f606e; border: 0; }
#nowplaying tr.netop td { border-top: 1px solid #77c1ff; }
#nowplaying tr.nebottom td { border-bottom: 1px solid #77c1ff; }

#nowplaying tr.notempty td.svstatus { text-align: left; font-size: 0.8em; }
#nowplaying td.svstatus ul { margin: 0 2em; }

#nowplaying tr td table.scores th { text-align: left; padding: 0 0.5em 0 0; margin:0; color: #8fb2d0; }
#nowplaying tr td table.scores td, #nowplaying tr td table.overallscores table.scores td { 
  text-align: left;
  margin:0 0.4em 0 0;
  padding:0 1em;
  border: 0;
  border-left: 1px solid #4f606e; !important; background-color: #62717e;
}
#nowplaying tr td table.scores tr.scodd td {
  background-color: #798691;
}
#nowplaying td.mappic {
  vertical-align: top;
}
#nowplaying td.mappic img {
  border: 1px solid #798691;
}
#nowplaying tr td table.overallscores tr.teaminfo td span { 
  font-weight: bold;
  color: #8fb2d0;
}
#nowplaying tr td table.overallscores tr td {
border: 0; text-align: left;
}


#version { text-align: center; padding: 0.33em 0; border-top: 1px solid #ab9d74; 
border-top: 1px solid #ab9d74;
background-color: #9a8e6c; }
#version a { color: #e8cf9e; }



/* --------- demos --------- */
#demos { 
  table-layout: auto;
  border-top: 1px solid #ab9d74;
  border-bottom: 4px solid #e9cf9c;
  border-left:0; border-right:0;
  border-spacing: -2px;
  background-color: #9a8e6c;
  width: 100%; 
  margin:0;
  padding:0;
}
#demos td, #demos th {
  padding: 0 12px;
}
#demos td.stream, #demos td.save {
  width: 72px;
  text-align: center;
}
#demos img { border: 0; }
#demos thead th {
  background-color: #3f392b;
  color: #8b8166;
  text-transform: uppercase;
  font-size: 10px;
  height: 23px;
  text-align: left;
}
#demos tbody tr {
  height: 44px;
}
#demos tbody tr.odd {
  background-color: #8b8166;
}
#demos tbody tr:hover { background-color: #616265; }
#demos tbody td.stream, #demos tbody td.save, #demos tbody td.name {
  border-right: 1px solid #ab9d74;
}
#demos thead th.stream, #demos thead th.save, #demos thead th.name {
  border-right: 1px solid #ab9d74;
}
